.blinking{
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: inherit;    }
  49%{    color: inherit; }
  60%{    color: transparent; }
  99%{    color: transparent;  }
  100%{   color: inherit;    }
}
